.tasks {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
}
/* right side styling */
.t-right {
  position: relative;
}
.t-mainCircle {
  background: var(--yellow);
  border-radius: 100%;
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  box-shadow: var(--smboxShadow);
  top: 2rem;
}
.t-mainCircle > * {
  position: absolute;
}
.t-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.t-mainCircle > :nth-child(2) {
  top: 5rem;
  left: -3rem;
}
.t-mainCircle > :nth-child(3) {
  top: 5rem;
  left: 6rem;
}
.t-mainCircle > :nth-child(4) {
  top: 5rem;
  left: 15rem;
}
.t-mainCircle > :nth-child(5) {
  top: 14rem;
  left: 6rem;
}
.t-secCircle {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background: white();
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--yellow);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.t-secCircle > img {
  transform: scale(0.6);
}
/* .t-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  z-index: 1;
}
.blueCircle {
  background: rgb(141, 199, 116);
  left: 18rem;
  top: 0rem;
}
.yellowCircle {
  background: rgb(112, 177, 98);
} */
