/* .t-slider {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}
.t-slider span:nth-last-of-type(2) {
  color: var(--black);
  font-size: 1.7rem;
  font-weight: bold;
}
.t-slider span:nth-last-of-type(1) {
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
}

.t-slider img {
  padding: 30px;
  width: 20rem;
  height: 13rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}
.t-slider .all-slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
} */

t-slider {
  padding: 0 3rem 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.all-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.26);
  border: 4px solid var(--orange);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  text-align: center;
  margin: auto;
}
.all-slide > img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.all-slide > span {
  color: var(--grey);
}
.all-slide {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  text-align: center;
}
.main {
  margin-top: 4rem;
}
.head {
  padding: 1rem;
  color: var(--orange);
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
